
body {
  text-align: center;
  background-color: black;
  color: white;
display: flex;
flex-direction: column;
margin: 1em;
flex-basis: 25%;
text-shadow: 3px 3px rgba(139, 139, 139, 0.5);
flex-direction: column;
justify-content: left;
}



h3{
  color:  white;
  font-size: 2.0em;
  text-align: left;
  animation: appear 2s ease 0s 1 normal ;
  font-family: 'Share Tech', sans-serif;
}

h1{
  font-size: 2.0em;
  animation: appear 2s ease 0s 1 normal ;
  text-align: left;
  font-family: 'Share Tech', sans-serif;


}

h2{
  animation: appear 2s ease 0s 1 normal ;
  font-size: 1.5em;
  font-family: 'Share Tech', sans-serif;


}
html{
  font-family: 'Share Tech', sans-serif;
  background-color: black;
  text-align: center;
  color:  white;

}
input{
  color:  white;
  font-size: 2em;
  background-color: rgba(214, 214, 214, 0.787);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  animation: appear 2s ease 0s 1 normal ;
  border-radius: 2em;
  font-family: 'Share Tech', sans-serif;
}

textarea{
  color:  white;
  font-size: 2em;
  background-color: rgba(214, 214, 214, 0.787);
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  animation: appear 2s ease 0s 1 normal ;
  border-radius: 2em;
  font-family: 'Share Tech', sans-serif;
}

button{
  font-family: 'Share Tech', sans-serif;
  font-size: 1.5em;
  background-color: rgba(214, 214, 214, 0.787);
  width: 40%;
  text-align: center;
  padding: .3%;
  margin: 2%;
  animation: appear 2s ease 0s 1 normal;
  border-radius: 2em;
  color:  white;
}

button:hover{
  font-family: 'Share Tech', sans-serif;
  font-size: 1.5em;
  background-color: rgba(218, 218, 218, 0.63);
  width: 40%;
  text-align: center;
  padding: .3%;
  margin: 2%;
  animation: appear 2s ease 0s 1 normal;
  box-shadow: 1px 1px 2px 2px  rgba(255, 255, 255, 0.767);
  border-radius: 2em;
}
#cool_button{
width: 5em;
height: 5em;
font-size: 4.5em;
border-radius: 30em;
text-align: center
}
hr{
  color: rgb(1, 187, 1);
  width: 100%;
  text-align: center;
  padding: .2%;
}

label{
  font-family: 'Share Tech', sans-serif;
  animation: appear 4s ease 0s 1 normal ;

}

@keyframes appear {
  0%{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60%{
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}

@keyframes appear2 {
  60%{
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  20%{
    opacity: 0;
    transform: scale3d(.3,.3,.3);
}
}